name: Run automated checks

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  style-checks:
    name: Run style checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pip3 install pydocstyle flake8
      - run: |
            python3 -m flake8 .
        name: Run flake8 checks
